# Digital Ocean setup
DIGITALOCEAN_TOKEN=
# Digital Ocean bucket for tofu state
DO_BUCKET_NAME=
DO_BUCKET_REGION=
DO_BUCKET_ENDPOINT=
DO_SPACES_ACCESS_KEY=
DO_SPACES_SECRET_KEY=

# Tailscale setup
TAILSCALE_OAUTH_CLIENT_ID=
TAILSCALE_OAUTH_CLIENT_SECRET=

TF_VAR_ssh_public_key=
TF_VAR_vm_username=
TF_VAR_tailscale_auth_key=
